appdirs==1.4.3
click==7.0
decorator==4.4.0
enum-compat==0.0.2
eventlet==0.24.1
Flask==1.0.2
Flask-Login==0.4.1
Flask-SocketIO==3.3.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
greenlet==0.4.15
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
packaging==19.0
pbr==5.1.3
pyparsing==2.4.0
python-engineio==3.5.1
python-socketio==4.0.0
rauth==0.7.3
requests==2.21.0
six==1.12.0
SQLAlchemy==1.3.3
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
Tempita==0.5.2
Werkzeug==0.15.2
WTForms==2.2.1
