{% extends "scene_base.html" %}
{% block jscode %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });
            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });
        });
    </script>
{% endblock %}

{% block scene %}
<body style='margin : 0px; overflow: hidden;'>
    <a-scene embedded artoolkit='sourceType: webcam;'>
        <a-assets>
            <a-asset-item id="dragon-obj" src="/static/assets/dragon.obj"></a-asset-item>
            <a-asset-item id="dragon-mtl" src="/static/assets/dragon.mtl"></a-asset-item>
        </a-assets>
        <a-obj-model src="#dragon-obj" mtl="#dragon-mtl" position='0 0.5 0' material='color: red;'></a-obj-model>
        <a-marker-camera preset='hiro'></a-marker-camera>
    </a-scene>
</body>
{% endblock %}